<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<div>
	<h2>First HTML Table with Headers to check which one is used</h2>

	<table class="Table1 parent CommonClass" border="1">
		<thead>
		<tr>
			<th>T1 Header 1</th>
			<th>T1 Header 2</th>
			<th>T1 Header 3</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>T1 Data 1 <span class="inTable_common">InnerText</span></td>
			<td>T1 Data 2</td>
			<td>T1 Data 3</td>
		</tr>
		<tr>
			<td>T1 Data 4</td>
			<td>T1 Data 5</td>
			<td>T1 Data 6</td>
		</tr>
		<tr>
			<td>T1 Data 7</td>
			<td>T1 Data 8</td>
			<td>T1 Data 9</td>
		</tr>
		</tbody>
	</table>
</div>

<div id="divWithNestedGrid">
	<div>
		<h2>Simple HTML Table with Headers</h2>

		<table class="Table2 nested CommonClass" border="1">
			<thead>
			<tr>
				<th>T2 Header 1</th>
				<th>T2 Header 2</th>
				<th>T2 Header 3</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>T2 Data 1
					<span class="inTable_common">T2 InnerText</span>
				</td>
				<td>T2 Data 2</td>
				<td>T2 Data 3</td>
			</tr>
			<tr>
				<td>T2 Data 4</td>
				<td>T2 Data 5</td>
				<td>T2 Data 6</td>
			</tr>
			<tr>
				<td>T2 Data 7</td>
				<td>T2 Data 8</td>
				<td>T2 Data 9</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>